<h1>Remove Link</h1>

<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following link?</p>

<table class="index" id="links" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1">
      <td class="link">
        <%= h @content_image.name %>
      </td>
    </tr>
  </tbody>
</table>

<% form_tag do %>
  <p class="buttons">
    <input class="button" type="submit" value="Delete Content Image"/>
    or
    <%= link_to 'Cancel', content_image_index_url %>
  </p>
<%- end -%>
